// 색싱변수
$pointColor1: #002876;
$color0: #000000;
$color0_05: #0000000d;
$color0_10: rgba(0, 0, 0, 0.1);
$color32: #323232;
$color60: #606060;
$color64: #646464;
$color70: #707070;
$color96: #969696;
$colorF: #ffffff;
// Common
html {
	overflow: hidden;
	height: 100%;
	body {
		font-size: 3rem;
		overflow: hidden;
		overflow-y: auto;
		width: 100%;
		height: 100%;
	}
}
// Default Tablet Size
// Test Menu
.test-quick-menu {
	position: fixed;
	right: 20px;
	bottom: 20px;
	.test-menu-btn {
		border-radius: 30px;
	}
	a {
	}
}
.v-menu__content {
	a {
		text-decoration: none;
		color: $pointColor1 !important;
	}
	.v-list-item {
		min-height: 30px;
		& ~ .v-list-item {
			border-top: 1px solid $color0_10;
		}
	}
}

// Login
.login-wrap {
	width: 100vw;
	min-height: 100vh;
	padding-top: 4.5313rem;
	background: url(/src/assets/images/bg-login.png) no-repeat center;
	background-size: 200%;
	.v-label {
		font-size: 1.2188rem;
		font-weight: bold;
		color: $color96;
		&.v-label--active {
			margin-top: -0.5453rem;
			font-size: 1.0313rem;
			color: $pointColor1;
			font-weight: bold;
		}
	}
	input {
		line-height: 2;
		max-height: 2.2813rem;
	}
	.v-select {
		.v-input__icon::after {
			display: block;
			width: 0.625rem;
			height: 0.625rem;
			content: "";
			transform: translateY(-25%) rotate(45deg);
			border-right: 0.1875rem solid $color60;
			border-bottom: 0.1875rem solid $color60;
			border-radius: 0 0 0.1875rem 0;
		}
		& .v-label--active {
			& ~ .v-input__append-inner {
				.v-input__icon::after {
					// transform: translateY(-25%) rotate(-135deg);
				}
			}
		}
	}
	.login-frame {
		text-align: center;
		.login-logo {
			margin-bottom: 2.0794rem;
		}
		.login-form {
			width: 25rem;
			margin: 0 auto;
			.row {
				margin-right: -0.625rem;
				margin-left: -0.625rem;
				padding: 0;
				.col {
					padding: 0.625rem;
				}
			}
			.v-text-field {
				position: relative;
				margin-top: 2.1875rem;
				padding-top: 0;
				.v-input__control {
					margin-bottom: 0;
				}
			}
			.v-text-field__details {
				position: absolute;
				top: 100%;
				width: 100%;
			}
			.btn-login {
				font-size: 1.2188rem;
				font-weight: bold;
				height: 3.125rem;
				margin-top: 2.8125rem;
				color: $colorF;
				border-radius: 0.9375rem;
				box-shadow: none;
			}
		}
		.login-menu {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-top: 3.2813rem;
			.btn-login-menu {
				margin: 0 0.4688rem;
				width: 18.125rem;
				height: 2.6563rem;
				border: 1px solid $color70;
				border-radius: 0.9375rem;
				box-shadow: none;
				background-color: transparent !important;
				font-size: 1.0313rem;
				font-weight: bold;
				color: $color64;
				letter-spacing: -0.0309rem;
				display: flex;
				align-items: center;
				justify-content: center;
				text-decoration: none;
			}
		}
	}
}
@media (max-width: 719px) {
	html {
		font-size: 10px;
	}
}
