@import url(/src/assets/style/nanumsquare.css);
// 색싱변수
$pointColor1: #002876;
$pointColor2: #262f53;
$pointColor3: #2699fb;
$successColor: #4a65fe;

$failColor: #ff7e8d;
$color0: #000000;
$color0_05: #0000000d;
$color0_10: rgba(0, 0, 0, 0.1);
$color32: #323232;
$color43: #434343;
$color60: #606060;
$color64: #646464;
$color70: #707070;
$color96: #969696;
$colorB: #bbb;
$colorB4: #b4b4b4;
$colorB5: #b5b5b5;
$colorC4: #c4c4c4;
$colorC8: #c8c8c8;
$colorD2: #d2d2d2;
$colorE8: #e8e8e8;
$colorF: #ffffff;
$colorF5: #f5f5f5;
$colorF_25: rgba(255, 255, 255, 0.25);
$colorF_50: rgba(255, 255, 255, 0.5);
$colorModeHome: #0bc071;
$colorModeGoOut: #f76c63;
$bgModeSleep: transparent linear-gradient(180deg, #2d2d2d 0%, #4b4b4b 100%) 0% 0% no-repeat padding-box;
$bgCommonPanel: transparent linear-gradient(0deg, rgba(210, 210, 210, 0.95) 0%, rgba(230, 230, 230, 0.95) 100%) 0% 0%
	no-repeat padding-box;
$popOverayColor: #000000;
// 폰트 변수
$fontFamilySet1: "NanumSquare", Arial, sans-serif;
$fontFamilySet2: "Roboto", "Arial", sans-serif !important;
$fontFamilySet3: "Arial", "Microsoft Yahei", 微软雅黑, STXihei, 华文细黑, sans-serif !important;
$fontWeightL: 300;
$fontWeightR: 400;
$fontWeightM: 600;
$fontWeightB: 700;
$fontWeightEB: 800;
// Common
html {
	overflow: hidden;
	height: 100%;
	body {
		font-family: $fontFamilySet1;
		font-size: 3rem;
		overflow: hidden;
		overflow-y: auto;
		width: 100%;
		height: 100%;
		.v-application {
			font-family: $fontFamilySet1;
		}
	}
}
.lang_ko {
	font-family: $fontFamilySet1;
}
.lang_en {
	font-family: $fontFamilySet2;
}
.lang_ch {
	font-family: $fontFamilySet3;
}

// Default Tablet Size
// Test Menu
.test-quick-menu {
	position: fixed;
	z-index: 999999;
	right: 20px;
	bottom: 20px;
	.test-menu-btn {
		border-radius: 30px;
	}
	a {
	}
}
.v-menu__content {
	a {
		text-decoration: none;
		color: $pointColor1 !important;
	}
	.v-list-item {
		min-height: 30px;
		& ~ .v-list-item {
			border-top: 1px solid $color0_10;
		}
	}
}

// Buttons
.v-btn {
	overflow: hidden;
	border-radius: 0.9375rem;
	.v-btn__content {
		i {
		}
	}
	&.pointColor1 {
		color: $colorF !important;
	}
}
// Form
.v-input {
	margin: 0;
	padding: 0;
	.v-label {
		font-weight: $fontWeightB;
		display: none;
		&.v-label--active {
			font-weight: $fontWeightB;
		}
	}
	.v-messages {
		position: absolute;
	}
	.v-input--selection-controls__ripple {
		opacity: 0;
	}
	&--switch__track {
		top: calc(50% - (1.25rem / 2));
		width: 100%;
		height: 1.25rem;
		opacity: 1;
		border: 1px solid $color70;
		border-radius: 0.9375rem;
		background-color: $colorF;
		&.primary--text {
			background-color: $successColor;
		}
	}
	&--switch__thumb {
	}

	&.v-input--is-label-active,
	&.v-input--is-focused {
		.v-label {
			display: block;
		}
	}
}
.v-input {
	&--radio-group {
		.v-radio {
			padding: 1.5625rem 0 !important;
			border-bottom: 1px solid $colorD2;
			&.v-item--active,
			&:not(:last-child):not(:only-child).v-item--active {
				position: relative;
				background-color: $colorF;
				&::before {
					position: absolute;
					right: -1.5625rem;
					left: -1.5625rem;
					display: block;
					height: 100%;
					content: "";
					background-color: $colorF5;
				}
			}
		}
	}
}
.v-radio,
.v-radio:not(:last-child):not(:only-child) {
	justify-content: space-between;
	height: auto;
	margin-bottom: 0 !important;
	.v-label {
		color: $color0;
	}
	&.v-item--active {
		background-color: $colorF5;
	}
	&.ko {
		label {
			font-family: $fontFamilySet1;
		}
	}
	&.en {
		label {
			font-family: $fontFamilySet1;
		}
	}
	&.ch {
		label {
			font-family: $fontFamilySet3;
			font-weight: 400;
		}
	}

	.v-input--selection-controls__input {
		order: 1;
		margin-right: 0;
		input {
			&[aria-checked="true"] {
				& ~ .v-input--selection-controls__ripple {
					&.primary--text::before {
						position: relative;
						width: 1.25rem;
						height: 1.25rem;
						transform: scale(1);
						opacity: 1;
						border-radius: 50%;
						background-color: $successColor;
					}
				}
			}
			& ~ .v-input--selection-controls__ripple {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 1.875rem;
				height: 1.875rem;
				opacity: 1;
				border-radius: 50%;
				background-color: $colorE8;
			}
		}
		.v-icon.primary--text {
		}
		.v-icon.notranslate.mdi.mdi-radiobox-blank {
		}
		input {
		}
		.v-input--selection-controls__ripple.primary--text {
			// background-color: $successColor;
		}
	}
	.v-label.theme--light {
	}
}
.v-input--switch {
	&--selection-controls {
		width: 100%;
		margin-top: 0;
		padding-top: 0;
		.v-messages {
			display: none;
		}
		.v-input__control {
		}
		.v-input__slot {
			justify-content: space-between;
			width: 100%;
			.v-label {
				font-size: 1.3125rem;
				order: 0;
				color: $color0;
			}
			.v-input--selection-controls__input {
				order: 1;
			}
		}
	}
	.primary--text {
		color: $pointColor1 !important;
		border-color: $successColor;
		caret-color: $pointColor1 !important;
		// background-color: $pointColor1;
	}
	&__thumb {
		top: calc(50% - (1.5625rem / 2));
		width: 1.5625rem;
		height: 1.5625rem;
		border: 1px solid $color70;
		background-color: $colorF;
	}
	.v-input--selection-controls__input {
		width: 2.7188rem;
	}
}
input {
	font-size: 1.2188rem;
	font-weight: $fontWeightB !important;
	line-height: 2;
	max-height: 2.2813rem;
	&[type="password"] {
		font-family: $fontFamilySet2;
	}
	&::placeholder {
		font-weight: $fontWeightB !important;
		color: $color96;
	}
}
.v-select {
	.v-input__icon::after {
		display: block;
		width: 0.625rem;
		height: 0.625rem;
		content: "";
		transform: translateY(-25%) rotate(45deg);
		border-right: 0.1875rem solid $color60;
		border-bottom: 0.1875rem solid $color60;
		border-radius: 0 0 0.1875rem 0;
	}
}
.v-label {
	font-size: 1.2188rem;
	color: $color96;
	&.v-label--active {
		font-size: 1.0313rem;
		margin-top: -0.2344rem;
		color: $pointColor1;
		& ~ input {
			font-size: 1.2188rem;
			font-weight: $fontWeightB;
			color: $color0;
		}
	}
}
.v-input input {
	max-height: none;
}
.v-text-field {
	position: relative;
	padding-top: 0;
	.v-input__control {
		margin-bottom: 0;
	}
}
.form-group ~ .form-hint,
.v-text-field ~ .form-hint {
	font-size: 0.9063rem;
	position: absolute;
	top: 100%;
	display: block;
	width: 100%;
	margin-top: 0.8056rem;
	letter-spacing: -0.0272rem;
	color: $color96;
	.dark {
		color: $color64;
	}
}
.v-input__slot {
	margin-bottom: 0;
}
.v-text-field__details {
	position: absolute;
	top: 100%;
	width: 100%;
}
// Login
.login-wrap {
	width: 100vw;
	min-height: 100vh;
	padding-top: 3.6681rem;
	background: url(/src/assets/images/bg-login.png) no-repeat center;
	background-size: 200%;

	.login-frame {
		text-align: center;
		.login-logo {
			display: block;
			// margin-bottom: 66.5408px;
			width: 14.6875rem;
			height: 14.6875rem;
			margin: 0 auto;
			img {
				display: block;
				max-width: 100%;
				max-height: 100%;
				margin: 0 auto;
			}
		}
		.login-form {
			width: 25rem;
			margin: 0 auto;
			.row {
				margin-right: -0.625rem;
				margin-left: -0.625rem;
				padding: 0;
				.col {
					padding: 0 0.625rem;
				}
			}
			.v-text-field {
				margin-top: 2.1875rem;
			}
			.btn-login {
				font-size: 1.2188rem;
				font-weight: $fontWeightB;
				height: 3.125rem;
				margin-top: 3.2697rem;
				color: $colorF;
			}
		}
		.login-menu {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-top: 3.2813rem;
			.btn-login-menu {
				font-size: 1.0313rem;
				font-weight: $fontWeightB;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 18.125rem;
				height: 2.6563rem;
				margin: 0 0.4688rem;
				text-decoration: none;
				letter-spacing: -0.0309rem;
				color: $color64;
				border: 1px solid $color70 !important;
			}
		}
	}
}
// Main Page
.main-page {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	background: transparent linear-gradient(90deg, #363243 0%, #343041 100%) 0% 0% no-repeat padding-box;
	&::before {
		position: fixed;
		// filter: blur(30px);
		z-index: 0;
		// width: 100%;
		// height: 100%;
		top: 50%;
		left: 50%;
		display: block;
		width: 42.4688rem;
		height: 25.4375rem;
		content: "";
		transform: translate(-50%, -50%) scale(1.3);
		transform-origin: center;
		opacity: 1;
		background: transparent url("/src/assets/images/bg-main.png") 0% 0% no-repeat;
		background-size: contain;
	}
	.main-page-top {
		position: relative;
		display: flex;
		height: 4.375rem;
		.main-page-top-actions {
			flex: 1 1 auto;
			padding: 0 0.8125rem;
			.btn-room-status {
				font-size: 1.0938rem;
				min-width: 9.375rem;
				height: 2.3438rem;
				padding: 0 0.3125rem;
				color: $colorF;
				border-radius: 0.9375rem;
				background-color: $colorF_25 !important;
				.v-image {
					width: 1.875rem;
					height: 1.875rem;
					margin-right: 0.79rem;
					border-radius: 0.5rem;
					&.icon-goout {
						background-color: $colorModeGoOut;
					}
					&.icon-home {
						background-color: $colorModeHome;
					}
					&.icon-sleep {
						background: $bgModeSleep;
					}
				}
			}
		}
		.main-page-top-logo {
			flex: 0 0 auto;
			padding: 0 1.625rem;
			h1 {
				position: relative;
				width: 8.4375rem;
				height: 4.375rem;
				img,
				.v-image {
					display: block;
					max-height: 100%;
				}
			}
		}
	}

	.main-page-content {
		position: relative;
		display: flex;
		align-items: center;
		flex: 1 1 auto;
		flex-direction: column;
		padding-top: 4.875rem;
		.weather-section {
			line-height: 1;
			display: flex;
			align-items: center;
			height: 7.1875rem;
			margin: 0 auto;
			margin-bottom: 3.6319rem;
			padding: 0;
			color: $colorF;
			.today {
				display: flex;
				flex: 1 1 50%;
				justify-content: flex-end;
				h3 {
					font-size: 1.0313rem;
					font-weight: $fontWeightR;
					margin-bottom: 0.8822rem;
					color: $colorD2;
				}
				div {
					display: flex;
					align-items: center;
				}
				.today-temp {
					display: flex;
					align-items: flex-end;
					flex-direction: column;
					.high {
						font-size: 2.5625rem;
						height: 2.8125rem;
						.unit {
							// font-size: 1.6875rem;
							margin-left: -0.25em;
						}
					}
					.low {
						font-size: 1.625rem;
						height: 1.7813rem;
						margin-top: 0.5869rem;
						color: $colorC8;
						.unit {
							margin-left: -0.25em;
						}
					}
				}
				.today-dust {
					display: flex;
					align-items: flex-end;
					flex-direction: column;
					margin-left: 2.3438rem;
					.status {
						font-size: 1.875rem;
						font-weight: $fontWeightB;
						height: 2.8125rem;
					}
					.value {
						font-size: 1.625rem;
						height: 1.7813rem;
						margin-top: 0.5869rem;
						color: $colorC8;
						.unit {
							font-size: 1.2188rem;
						}
					}
				}
			}
			.weather-icon {
				display: flex;
				align-items: center;
				flex: 0 0 15.625rem;
				.v-image {
				}
			}
			.now {
				flex: 1 1 50%;
				.now-temp {
					display: flex;
					flex-direction: column;
					.value {
						font-size: 5.2813rem;
						font-weight: $fontWeightL;
						line-height: 5.8438rem;
						.unit {
							margin-left: -0.25em;
						}
					}
					.text {
						font-size: 1.875rem;
						font-weight: $fontWeightR;
					}
				}
			}
		}
		.main-menu-section {
			flex: 1 1 auto;
			width: 54.375rem;
			padding: 0;
			.main-menu-slide-wrapper {
				display: flex;
				height: 100%;
			}
			.swiper-container {
				position: relative;
				display: flex;
				flex-direction: column;
				.swiper-pagination {
					position: relative;
					top: 0;
					bottom: auto;
					display: flex;
					align-items: center;
					justify-content: center;
					order: 0;
					height: auto;
					margin-bottom: 1.5625rem;
					.swiper-pagination-bullet {
						display: block;
						width: 0.5625rem;
						height: 0.5625rem;
						opacity: 0.2;
						background-color: $colorF;
						&.swiper-pagination-bullet-active {
							opacity: 0.5;
						}
					}
				}
				.swiper-wrapper {
					order: 1;
					padding-bottom: 2.1875rem;
				}
				.swiper-pagination.swiper-pagination-bullets {
				}
				.swiper-notification {
				}
				.swiper-slide.swiper-slide-active {
				}
				.swiper-slide.swiper-slide-next {
				}
				.swiper-pagination-bullet.swiper-pagination-bullet-active {
				}
			}
			.menu-group {
				display: flex;
				align-items: flex-start;
				flex-wrap: wrap;

				// justify-content: space-between;
				.v-btn {
					position: relative;
					display: flex;
					align-items: center;
					flex: 1 1 16.66666%;
					flex-direction: column;
					max-width: calc(16.66666% - 1.875rem);
					height: auto;
					margin: 0 0.9375rem;
					padding: 0;
					word-break: keep-all;
					color: $colorF;
					border-radius: 0;
					&__content {
						flex-direction: column;
						width: 1005;
						span {
							font-size: 1.375rem;
							display: block;
							text-align: center;
							white-space: normal;
						}
					}
					&::before,
					.v-ripple__container {
						display: none !important;
					}
					.v-image {
						width: 6.875rem;
						height: 6.875rem;
						margin-bottom: 0.8509rem;
						border-radius: 1.5625rem;
					}
				}
			}
		}
		.btn-setting {
			position: fixed;
			z-index: 9;
			top: 5.625rem;
			right: 0.625rem;
			width: 3.75rem;
			height: 3.75rem;
			.icon-setting {
				width: 49px;
				height: 51px;
				&::after {
					transform: scale(1);
					opacity: 1;
					background: url(/src/assets/images/ic_setting_white.svg) no-repeat center;
					background-size: contain;
				}
			}
			&--contained {
			}
			&__content {
				.v-icon.notranslate.icon-setting.material-icons.theme--light {
				}
			}
			&:hover {
			}
			&:active {
			}
			&:focus {
			}
		}
	}
}
// Common Page
.common-page {
	display: flex;
	flex-direction: column;
	height: 100vh;
	.common-page-top {
		display: flex;
		align-items: center;
		flex: 0 0 auto;
		.common-page-top-btns {
			flex: 0 0 25%;
			padding: 0 0.375rem;
			button {
				position: relative;
				display: block;
				width: 4.125rem;
				height: 4.125rem;
				padding: 0;
				i.icon-history-back {
					display: block;
					width: 4.125rem;
					height: 4.125rem;
					&::after {
						display: block;
						width: 100%;
						height: 100%;
						transform: scale(1);
						opacity: 1;
						background: url(/src/assets/images/ic_back.svg) no-repeat center;
						background-size: 50%;
					}
				}
			}
		}
		h1 {
			font-size: 1.625rem;
			font-weight: $fontWeightEB;
			flex: 1 1 auto;
			text-align: center;
			color: $color0;
		}
	}
	.common-page-content {
		display: flex;
		flex: 1 1 auto;
		&.terms-content {
			display: block;
			overflow-y: auto;
			padding: 2.3438rem 5.125rem;
			.terms-wrap {
				font-size: 1.0313rem;
				line-height: 1.875rem;
			}
			& ~ .common-page-bottom {
				box-shadow: 0px -6px 10px $color0_10;
			}
		}
	}
	.common-page-bottom {
		flex: 0 0 auto;
		// display: flex;
		padding: 0.9375rem;
		text-align: center;
		.v-btn {
			font-size: 1.2188rem;
			font-weight: $fontWeightB;
			display: flex;
			width: 25rem;
			height: 3.125rem;
			margin: 0 auto;
			color: $color32;
			border: 1px solid $color70;
			background-color: transparent;
			&::before {
				background-color: transparent;
			}
			& ~ .v-btn {
				margin-top: 0.9375rem;
			}
			& ~ p {
				margin-top: 1.1875rem;
			}
		}
		p {
			font-size: 1.0313rem;
			line-height: 1.4063rem;
			width: 25rem;
			margin: 0 auto;
			text-align: left;
			letter-spacing: -0.0309rem;
			color: $color96;
			&:last-child {
				margin-bottom: 1.875rem;
			}
		}
	}
	.common-page-form {
		display: flex;
		width: 25rem;
		min-height: 100%;
		margin: 0 auto;
		padding-top: 4.6875rem;
		.row {
			margin: 0;
			.col {
				padding: 0;
			}
		}
		.v-form {
			display: flex;
			flex-direction: column;
			width: 100%;
			.form-wrap {
				flex: 1 1 auto;
				.form-group {
					display: flex;
					align-items: flex-end;
					height: 40px;
					.form-btn {
						font-size: 1.0313rem;
						font-weight: $fontWeightB;
						height: 3.125rem;
						color: $color32;
						border: 1px solid $color32;
					}
					.v-input ~ .form-btn {
						margin-left: 1.875rem;
					}
				}
			}
			.btn-form-agree {
				font-size: 1.2188rem;
				height: 3.125rem;
				margin-top: 4.3681rem;
				color: $color32;
				border: 1px solid $color70;
				.v-btn__content {
					justify-content: flex-start;
					text-align: left;
				}
				.v-icon {
					width: 1.5625rem;
					height: 1.5625rem;
					margin-right: 0.9063rem;
					border-radius: 50%;
					background-color: $colorD2;
				}
				&.complete {
					.v-icon {
						background-color: $pointColor2;
						&::after {
							width: 0.6563rem;
							height: 0.4063rem;
							transform: translateY(-25%) rotate(-45deg);
							opacity: 1;
							border-bottom: 0.1563rem solid $colorF;
							border-left: 0.1563rem solid $colorF;
							border-radius: 0;
							background-color: transparent;
						}
					}
				}
				& ~ .btn-form-agree {
					margin-top: 0.9375rem;
				}
			}
		}
		.common-page-form-btn {
			margin: 20px 0;
			.v-btn {
				font-size: 1.2188rem;
				font-weight: $fontWeightB;
				height: 3.125rem;
				letter-spacing: -0.0366rem;
				border: 1px solid $color70 !important;
				&.pointColor1 {
					border: none !important;
				}
				& ~ .v-btn {
					margin-top: 0.9375rem;
				}
			}
		}
		.row {
			& ~ .row {
				margin-top: 4.6875rem;
			}
			.col {
				position: relative;
			}
		}
		.v-input {
			margin-top: 0;
			& ~ .v-input {
			}
		}
	}
	.common-page-result-message {
		font-size: 1.6875rem;
		font-weight: $fontWeightEB;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		margin: 0 auto;
		padding-top: 5.3125rem;
		text-align: center;
		color: $color32;
		.v-icon {
			display: flex;
			width: 10.1875rem;
			height: 10.1875rem;
			margin: 0 auto 3.3125rem;
			border-radius: 50%;
			&::after {
				transform: scale(1);
				opacity: 1;
				background-color: transparent;
			}
			&.icon-success {
				background-color: $successColor;
				&::after {
					width: 4.5625rem;
					height: 2.75rem;
					transform: translateY(-25%) rotate(-45deg);
					border-bottom: 0.9375rem solid $colorF;
					border-left: 0.9375rem solid $colorF;
					border-radius: 0;
				}
			}
			&.icon-fail {
				background-color: $failColor;
				&::before,
				&::after {
					position: absolute;
					top: 50%;
					left: 50%;
					display: block;
					width: 5rem;
					height: 0.9375rem;
					content: "";
					transform-origin: center;
					border-radius: 0;
					background-color: $colorF;
				}
				&::before {
					transform: translate(-50%, -50%) rotate(45deg);
				}
				&::after {
					transform: translate(-50%, -50%) rotate(-45deg);
				}
			}
		}
	}
	.find-idpass-wrap {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		margin: 0 auto;
		.btn-find-idpass {
			font-size: 1.625rem;
			font-weight: $fontWeightEB;
			width: 12.5rem;
			height: 12.5rem;
			border: 1px solid $color96 !important;
			border-radius: 1.875rem;
			background-color: $colorF;
			box-shadow: 0.375rem 0.375rem 0.75rem $color0_10;
			& ~ .btn-find-idpass {
				margin-top: 1.25rem;
			}
		}
	}
	.common-page-list {
		width: 25rem;
		margin: 0 auto;
		.v-list {
			&--flat {
				.v-list-item__content {
					background-color: $colorF !important;
				}
			}
			.v-item-group {
				.v-list-item {
					padding: 0;
					border-bottom: 1px solid $colorC8;
					&--link {
						&::before {
							margin-right: -1.5625rem;
							margin-left: -1.5625rem;
							background-color: $colorF5;
						}
					}
					&__content {
						width: auto;
						margin-right: -1.5625rem;
						margin-left: -1.5625rem;
						padding: 1.5625rem;
					}
					&.v-list-item--active {
						.v-list-item__content {
							background-color: $colorF5;
							.v-list-item__title {
								color: $color0;
							}
						}
					}
					.v-ripple__container {
						display: none;
						// right: -1.5625rem;
						// left: -1.5625rem;
						// width: calc(100% + 3.125rem);
					}
					.v-list-item__title {
						font-size: 1.3125rem;
						font-weight: $fontWeightB;
						a {
							display: block;
							text-decoration: none;
							color: inherit;
						}
					}
					dl {
						font-size: 1.3125rem;
						font-weight: $fontWeightB;
						display: flex;
						justify-content: space-between;
						dt {
						}
						dd {
							color: $pointColor1;
						}
					}
				}
			}
			.v-input {
				&--checkbox {
					justify-content: space-between;
					width: 100%;
					.v-label {
						color: $color0;
					}
					.v-input--selection-controls__input {
						order: 1;
						input[aria-checked="true"] {
							& ~ .v-input--selection-controls__ripple {
								display: flex;
								align-items: center;
								justify-content: center;
								background-color: $pointColor1;
								&::before {
									position: relative;
									width: 0.7813rem;
									height: 0.4688rem;
									transform: scale(1) rotate(-45deg) translateY(-25%);
									opacity: 1;
									border-bottom: 0.1875rem solid $colorF;
									border-left: 0.1875rem solid $colorF;
									border-radius: 0;
								}
							}
						}
						.v-input--selection-controls__ripple {
							width: 1.875rem;
							min-width: 1.875rem;
							height: 1.875rem;
							opacity: 1;
							border-radius: 50%;
							background-color: $colorE8;
						}
					}
				}
			}
			& ~ .list-note {
				font-size: 1.0313rem;
				margin-top: 2.0313rem;
				letter-spacing: -0.0309rem;
				color: $color96;
			}
		}
	}
}
// Common Panel
.common-panel {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding-bottom: 1.4688rem;
	.common-panel-top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 4.1563rem;
		.common-panel-top-btns.left {
			padding: 0 0.375rem;
			.v-btn {
				width: 4.125rem;
				height: 4.125rem;
			}
			i.icon-history-back {
				display: block;
				width: 4.125rem;
				height: 4.125rem;
				&::after {
					display: block;
					width: 100%;
					height: 100%;
					transform: scale(1);
					opacity: 1;
					background: url(/src/assets/images/ic_back_white.svg) no-repeat center;
					background-size: 50%;
				}
			}
		}
		h1 {
			width: 11.6563rem;
			.v-image {
			}
		}
	}
	.common-panel-body {
		position: relative;
		display: flex;
		overflow-y: auto;
		flex: 1 1 auto;
		flex-direction: column;
		margin: 2.1875rem 2.5rem 0;
		border-radius: 1.5625rem;
		background: $bgCommonPanel;
		.common-panel-title {
			border-bottom: 1px solid $colorB5;
			h2 {
				font-size: 1.5938rem;
				font-weight: $fontWeightEB;
				padding: 1.625rem;
				text-align: center;
			}
			.title-btns {
				display: flex;
				justify-content: center;
				margin-bottom: 1.4063rem;
				.v-btn {
					font-size: 1.2813rem;
					width: 11.375rem;
					height: 3.3438rem;
					margin: 0 0.7031rem;
					color: $colorF;
					background-color: $color43;
				}
			}
			&--board-type {
				display: flex;
				width: 100%;
				padding: 0;
				li {
					font-size: 1.2813rem;
					font-weight: $fontWeightEB;
					flex: 1;
					padding: 1.375rem;
					text-align: center;
					color: $color96;
					&.dark {
						color: $color32;
					}
				}
			}
		}
		.common-panel-content {
			display: flex;
			overflow-y: auto;
			align-items: center;
			flex: 1 1 auto;
			flex-direction: column;
			justify-content: center;
			.one-settings {
				.one-setting-icon {
					display: block;
					width: 14.25rem;
					height: 14.25rem;
					margin: 0 auto;
					border-radius: 2.5rem;
					background: transparent linear-gradient(0deg, #e6e6e6 0%, #ffffff 100%) 0% 0% no-repeat padding-box;
					box-shadow: 0.125rem 0.125rem 0.625rem rgba(129, 130, 127, 0.4);
				}
			}
			.multi-settings {
				position: relative;
				max-width: 100%;
				padding: 0;
				&.v-list {
					display: flex;
					.v-list-item {
						display: flex;
						flex-direction: column;
					}
				}
				.v-list-item__title {
					font-size: 1.4063rem;
					font-weight: $fontWeightB;
					margin-bottom: 1.1803rem;
				}
				.btn-toggle {
					width: 9.4688rem;
					height: 9.4688rem;
					padding: 0;
					border: 1px solid $colorB;
					border-radius: 1.4063rem;
					background: transparent linear-gradient(0deg, #e6e6e6 0%, #ffffff 100%) 0% 0% no-repeat padding-box;
					& .v-ripple__container {
						display: none;
					}
				}
				.btn-detail {
					font-size: 1.2188rem;
					height: 3.3438rem;
					margin-top: 1.1875rem;
					padding: 0 1.0625rem;
					color: #ffffff;
					background-color: $color43;
					&.on {
						background-color: $successColor;
					}
					&.center {
						& .v-btn__content {
							justify-content: center;
							text-align: center;
						}
					}
					& .v-btn__content {
						justify-content: space-between;
						text-align: left;
						.v-icon {
							width: 0.75rem;
							height: 0.75rem;
							transform: rotate(-45deg);
							border-right: 0.125rem solid $colorF;
							border-bottom: 0.125rem solid $colorF;
						}
					}
				}
				& .swiper-container {
					width: calc(100% - 18.125rem);
					padding: 4.6875rem 0;
				}
				.swiper-slide {
					position: relative;
					display: flex;
					align-items: center;
					flex-direction: column;
					justify-content: center;
					box-sizing: border-box;
					width: 11.3438rem !important;
					padding: 0 0.9375rem;
					text-align: center;
					.v-btn {
					}
				}
				.swiper-pagination {
					bottom: 0;
					height: auto;
				}
			}
			.control-btns {
				display: flex;
				align-items: center;
				justify-content: center;
				margin-top: 4.375rem;
				.v-item-group {
					border-radius: 0;
					background-color: transparent;
				}
				.v-btn {
					font-size: 1.2188rem;
					width: 9.375rem;
					height: 3.2813rem;
					margin: 0 0.5469rem;
					color: $colorF;
					border-radius: 0.9375rem;
					background-color: $color43;
					&[data-active="true"],
					&.on,
					&--active {
						background-color: $successColor !important;
					}
					&::before {
						display: none;
					}
				}
			}
			.control-note {
				font-size: 1.0313rem;
				margin-top: 2.5rem;
				text-align: center;
				color: $color96;
			}
			.elevator-setting {
				h3 {
					font-size: 1.4063rem;
					font-weight: $fontWeightB;
					text-align: center;
					color: $color32;
				}
				.current {
					display: flex;
					overflow: hidden;
					align-items: center;
					flex-direction: column;
					justify-content: center;
					width: 17.625rem;
					height: 17.625rem;
					margin-top: 1.43rem;
					color: $colorF;
					border: 0.0625rem solid $color70;
					border-radius: 50%;
					background: transparent linear-gradient(180deg, #ffffff 0%, #4b4b4b 0%, #2d2d2d 100%) 0% 0% no-repeat
						padding-box;
					h4 {
						font-size: 1.2813rem;
						color: $color96;
					}
					.value {
						font-family: $fontFamilySet2;
						font-size: 5.125rem;
					}
				}
				.action-btns {
					display: flex;
					align-items: center;
					justify-content: center;
					margin-top: 1.4772rem;
					.v-item-group {
						background-color: transparent;
					}
					.v-btn {
						font-size: 1.25rem;
						width: 6.9375rem;
						height: 4.25rem;
						margin: 0 0.4688rem;
						color: $colorF;
						border-radius: 0.9375rem;
						background-color: $color43;
						&.on,
						&--active {
							background-color: $successColor;
						}
					}
				}
			}
		}
		.v-btn {
			display: block;
			.v-btn__content {
				max-width: 100%;
				transform: scale(1);
			}
			&.btn-common-panel-close {
				position: absolute !important;
				top: 0.9375rem;
				right: 0.9375rem;
				width: 2.3438rem !important;
				min-width: auto;
				height: 2.3438rem !important;
				max-height: none !important;
				margin: 0;
				padding: 0;
				.v-image {
					width: 100%;
					height: 100%;
					&__image {
						background-size: 200%;
					}
				}
			}
		}
	}
}
// security
.security-control {
	.v-list {
		display: inline-block;
		margin: 0 auto;
		padding: 0;
		.v-item-group {
			display: flex;
			align-items: center;
			flex: 0 0 auto;
			justify-content: center;
			.v-list-item {
				display: inline-flex;
				align-items: center;
				flex: 0 0 10.7188rem;
				flex-direction: column;
				margin: 0 1.0938rem;
				padding: 0;
				text-align: center;
				border-radius: 2.5rem;
				&__title {
					font-size: 1.4063rem;
					font-weight: $fontWeightB;
				}
				&__content {
					flex: 0 0 auto;
					padding: 0;
				}
				.v-icon {
					overflow: hidden;
					flex: 0 0 auto;
					width: 10.7188rem;
					min-width: auto;
					height: 13.375rem;
					margin: 0.9375rem auto 0;
					border-radius: 2.5rem;
					background-color: $colorC4;
					&::after {
						transform: scale(1);
						opacity: 1;
					}
					&.icon_goout {
						&::after {
							background: url("/src/assets/images/ic_mode_goout_white.svg") no-repeat center;
							background-size: 45%;
						}
					}
					&.icon_home {
						&::after {
							background: url("/src/assets/images/ic_mode_home_white.svg") no-repeat center;
							background-size: 45%;
						}
					}
					&.icon_sleep {
						&::after {
							background: url("/src/assets/images/ic_mode_sleep_white.svg") no-repeat center;
							background-size: 60%;
						}
					}
				}
				&.v-item--active {
					.v-icon {
						&.icon_goout {
							background: $colorModeGoOut;
						}
						&.icon_home {
							background: $colorModeHome;
						}
						&.icon_sleep {
							background: $bgModeSleep;
							&::after {
								background: url("/src/assets/images/ic_mode_sleep.svg") no-repeat center;
								background-size: 60%;
							}
						}
					}
				}
			}
		}
	}
	.control-note {
		margin-top: 7.2325rem !important;
	}
}
// control slide
.control-slide {
	// margin: 0 10rem;
}
// Board
.board-wrap {
	display: flex;
	align-items: stretch;
	width: 100%;
	height: 100%;
	.board-list {
		flex: 1 1 100%;
		& .v-list {
			padding: 0;
			background-color: transparent;
			&-item {
				padding: 0 0 0 2.6675rem;
				&__title {
					position: relative;
					display: flex;
					// justify-content: space-between;
					align-items: center;
					// max-width: calc(100% - (1.6875rem + (1.125rem * 2)));
					box-sizing: border-box;
					padding: 1.4063rem 1.125rem;
					border-bottom: 1px solid $colorC8;
					.type {
						font-size: 1.125rem;
						flex: 0 0 7.8125rem;
						color: $color64;
					}
					.location {
						font-size: 1.125rem;
						font-weight: $fontWeightB;
						flex: 0 0 14.0625rem;
						color: $color32;
					}
					.title {
						font-size: 1.2813rem;
						font-weight: $fontWeightB;
						display: flex;
						// overflow: hidden;
						flex: 1 1 auto;
						padding-right: 1.5625rem;
						white-space: normal;
						// text-overflow: ellipsis;
						color: $color32;
					}
					.date,
					.time {
						font-size: 1.0313rem;
						font-weight: $fontWeightR;
						flex: 0 0 auto;
						margin: 0 0.625rem;
						text-align: right;
						color: $color64;
					}
				}
			}
		}
	}
	&:not(.hasDetail) {
		.board-list {
			& .v-list {
				&-item {
					padding: 0 2.6675rem;
					&__title {
						padding: 1.4063rem 0;
					}
				}
			}
		}
		.board-detail {
			display: none;
		}
	}
	&.hasDetail {
		.board-list,
		.board-detail {
			overflow-y: auto;
			flex: 1 1 50%;
			max-width: 50%;
			height: 100%;
		}
		.board-detail {
			font-size: 1.2813rem;
			line-height: 2.2188rem;
			overflow-y: auto;
			padding: 1.5625rem 2.25rem;
			color: $color64;
			border-left: 1px solid $colorC8;
			strong {
				font-weight: $fontWeightB;
				color: $color32;
			}
			.parking-wrap {
				position: relative;
				.parking-map {
					display: block;
					max-width: 100%;
				}
				.pin {
					position: absolute;
					display: flex;
					align-items: center;
					justify-content: center;
					width: 2.4375rem;
					img {
						// width: 200%;
						// width: 100%;
						display: block;
						transform: scale(calc(105 / 150));
					}
				}
			}
			.no-data {
				font-size: 1.125rem;
				font-weight: $fontWeightEB;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				height: 100%;
				color: $color64;
			}
		}
	}
}

//sel date
.sel-date {
	display: flex;
	align-items: center;
	flex: 0 0 auto;
	justify-content: center;
	width: 100%;
	padding: 0.9375rem;
	.sel-group {
		display: flex;
		flex: 0 0 17.25rem;
	}
	.v-btn {
		width: 2.3438rem !important;
		min-width: 2.3438rem !important;
		height: 2.3438rem !important;
		padding: 0 !important;
	}
	.title {
		font-weight: $fontWeightB;
		display: flex;
		align-items: center;
		flex: 0 0 12.5625rem;
		justify-content: center;
		strong {
			font-size: 1.625rem;
			color: $color32;
			& ~ span {
				margin-left: 0.5em;
			}
		}
		span {
			font-size: 1.3438rem;
			color: $color96;
		}
	}
}
// dashboard
.dashboard {
	display: flex;
	overflow-y: auto;
	// flex: 1 1 auto;
	padding: 0 1.5625rem;
	.row {
		display: flex;
		align-items: stretch;
		flex-wrap: wrap;
		.col {
			align-self: stretch;
			flex: 0 0 50%;
			padding: 0 0.4688rem;
			&:nth-child(2) {
				& ~ .col {
					margin-top: 1.25rem;
				}
			}
		}
	}
	.cost-list {
		padding: 0 0.9375rem;
		.v-card {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			height: 7.5rem;
			padding: 0.7813rem 1.5625rem 1.5625rem 0.7813rem;
			border-radius: 1.4063rem;
			background-color: $colorF_50;
			box-shadow: 0.0938rem 0.0938rem 0.3125rem rgba(0, 0, 0, 0.071);
			&__title {
				font-size: 1.2188rem;
				font-weight: $fontWeightEB;
				display: flex;
				justify-content: flex-start;
				padding: 0;
				.v-image {
					flex: initial;
					width: 2.3438rem;
					height: 2.3438rem;
					margin-right: 0.75rem;
					&__image {
						background-size: 200%;
					}
				}
			}
			&__text {
				font-size: 1.0313rem;
				display: flex;
				justify-content: flex-end;
				padding: 0;
				strong {
					font-size: 1.7813rem;
				}
			}
		}
	}
	.cost-total {
		display: flex;
		align-items: center;
		flex: 0 0 22.9688rem;
		flex-direction: column;
		justify-content: center;
		margin-left: 0.4688rem;
		padding: 1.6875rem;
		border-radius: 1.4063rem;
		background-color: $colorF;
		box-shadow: 0.0938rem 0.0938rem 0.3125rem rgba(0, 0, 0, 0.071);
		.total-title {
			font-size: 1.2188rem;
			font-weight: $fontWeightEB;
			flex: initial;
		}
		.total-text {
			display: flex;
			align-items: center;
			flex: 1 1 auto;
			justify-content: center;
			.value {
				font-size: 1.4063rem;
				font-weight: $fontWeightB;
				vertical-align: baseline;
				strong {
					font-size: 3.125rem;
				}
			}
		}
	}
}

// Common Popup
.v-overlay {
	backdrop-filter: blur(0.9375rem);
	-webkit-backdrop-filter: blur(0.9375rem);
	.v-overlay__scrim {
		backdrop-filter: blur(1.5625rem);
		-webkit-backdrop-filter: blur(1.5625rem);
	}
}
.v-dialog {
	border-radius: 1.875rem;
	box-shadow: none;
	&--fullscreen {
		background-color: $colorF;
	}
	.v-card {
		&__title {
			font-size: 1.625rem !important;
			font-weight: $fontWeightEB !important;
			justify-content: center;
			padding: 1.875rem !important;
			text-align: center;
		}
		&__text {
			font-size: 1.2188rem;
			line-height: 1.875rem;
			padding: 0 1.875rem 1.875rem !important;
			text-align: center;
			color: $color0 !important;
			strong {
				font-weight: $fontWeightB;
			}
		}
		&__actions {
			justify-content: center;
			padding: 1.25rem;
			text-align: center;
			.v-btn {
				font-size: 1.2188rem;
				font-weight: $fontWeightB;
				height: auto;
				&.btn-confirm {
					color: $successColor;
				}
			}
		}
	}
	&.popup-detail {
		border: 1px solid #969696;
		border-radius: 1.5625rem;
		background: transparent linear-gradient(0deg, rgba(210, 210, 210, 0.95) 0%, rgba(230, 230, 230, 0.95) 100%) 0% 0%
			no-repeat padding-box;
		.common-panel {
			padding-bottom: 0;
		}
		.common-panel-title {
			h2 {
				font-size: 1.625rem;
				padding: 1.2012rem;
			}
			h3 {
				font-size: 1.0313rem;
				padding-bottom: 1.1875rem;
				text-align: center;
				color: $color64;
			}
			.title-btns {
				margin-bottom: 0.5938rem;
				.v-btn {
					margin: 0 0.5781rem;
				}
			}
		}
		.common-panel-body {
			margin: 0;
			.common-panel-content {
				padding: 1rem;
			}
		}
		// heating
		.title-btns {
			.v-btn {
				font-size: 1.0313rem !important;
				width: 7.1563rem !important;
				height: 2.4063rem !important;
				&.on {
					background-color: $color43 !important;
				}
				&.off {
					color: $color96;
					background-color: $colorC4;
				}
			}
		}
		.control-box {
			display: flex;
			align-items: flex-end;
			.control-status {
				display: flex;
				align-items: stretch;
				flex-direction: column;
				justify-content: center;
				order: 1;
				width: 13.75rem;
				height: 13.75rem;
				margin: 0 0.3438rem;
				text-align: center;
				color: $colorF;
				border-radius: 50%;
				background-color: $color32;
				.current {
					display: flex;
					align-items: stretch;
					flex-direction: column;

					dt {
						font-size: 0.8125rem;
						font-weight: $fontWeightB;
					}
					dd {
						font-family: $fontFamilySet2;
						font-size: 1.5rem;
						font-weight: $fontWeightM;
						margin-top: 1.0581rem;
						.unit {
							margin-left: -0.25em;
						}
					}
				}
				.set {
					display: flex;
					align-items: center;
					flex-direction: column;
					margin-top: 1.1125rem;
					dt {
						font-size: 0.8125rem;
						font-weight: $fontWeightB;
					}
					dd {
						font-family: $fontFamilySet2;
						font-weight: $fontWeightM;
						margin-top: 0.6019rem;
						color: $pointColor3;
						.unit {
							margin-left: -0.25em;
						}
					}
				}
			}

			.v-btn {
				font-family: $fontFamilySet2;
				font-size: 1.625rem;
				font-weight: $fontWeightR;
				width: 6.25rem;
				height: 6.25rem;
				color: $colorF;
				border-radius: 50%;
				background-color: $color43 !important;
				&.btn-prev {
					order: 0;
				}
				&.btn-next {
					order: 2;
				}
			}
		}
		.control-detail {
			margin-top: 1.25rem;
			.v-list {
				display: flex;
				padding: 0;
				.v-list-item {
					display: flex;
					align-items: stretch;
					flex-direction: column;
					margin: 0 0.4063rem;
					padding: 0.5625rem;
					border-radius: 1.4063rem;
					background-color: $colorF;
					box-shadow: 0px 0.1563rem 0.4688rem #0000001a;
					.v-image {
						width: 2.375rem;
						height: 2.375rem;
						margin-bottom: 0.5831rem;
					}
					&__title {
						font-size: 1.3125rem;
						font-weight: $fontWeightB;
						align-self: flex-start;
						padding: 0 0.25rem;
						color: $color64;
					}
					.v-select {
						margin-top: 0.3125rem;
						border-bottom: none !important;
						&__selection {
							font-size: 1.1875rem;
							color: $color96;
						}
						.v-input__slot {
							padding: 0 0.25rem;
							border-bottom: none !important;
							&::before,
							&::after {
								display: none !important;
							}
						}
						.v-input__icon {
							width: 2rem;
							height: 2rem;
							margin-right: -0.25rem;
							border-radius: 50%;
							background-color: $colorD2;
							&::after {
								transform: rotate(-45deg);
								border-color: $colorF;
							}
						}
					}
				}
			}
		}
		.detail-light {
			.v-list {
				display: flex;
				justify-content: center;
				margin: 0;
				padding: 0;
				.v-list-item {
					display: inline-flex;
					flex: initial;
					flex-direction: column;
					margin: 0 0.92rem;
					padding: 0;
					&__title {
						font-weight: $fontWeightB;
						margin-bottom: 0.7647rem;
						color: $color32;
					}
					.v-btn {
						height: auto;
						padding: 0;
						.v-image {
							width: 5.25rem;
							height: 5.25rem;
						}
					}
				}
			}
		}
		.dim-control {
			width: 100%;
			.current-value {
				font-size: 1.2188rem;
				font-weight: $fontWeightB;
				margin-bottom: 0.4063rem;
				text-align: center;
				color: $color32;
			}
			.v-input {
				&__slider {
					align-items: center;
					// height: 3.125rem;
				}
			}
			.v-slider {
				position: relative;
				margin: 0 0.7813rem;
				&__thumb-container {
					opacity: 0;
				}
				&__track-container {
					overflow: hidden;
					height: 3.125rem;
					border-radius: 0.7813rem;
					background-color: $colorB4;
				}
				&__track-background {
					background-color: transparent !important;
				}
				&__track-fill {
					position: absolute;
					top: 0;
					left: 0;
					border-radius: 0.7813rem;
					background-color: $colorF !important;
				}
			}
			.v-btn {
				font-family: $fontFamilySet2;
				font-size: 1.625rem;
				width: 4.375rem;
				height: 4.375rem;
				color: #ffffff;
				border-radius: 50%;
				background-color: $color43 !important;
				&.btn-minus {
				}
				&.btn-plus {
				}
			}
		}
		.v-btn.btn-set-submit {
			font-size: 1.4063rem;
			height: 4.25rem;
			margin-top: 1.25rem;
			color: $colorF;
			background-color: $successColor !important;
		}
	}
}
@media (max-width: 719px) {
	html {
		font-size: 10px;
	}
}
